<html>
<body>
<form action="/add" method="post">
    <div>
        <label>Todo Title</label>
        <input type="text" name="title" placeholder="Enter Todo...">
        <br>
        <button type="submit">Add</button>
    </div>
</form>

<hr>

{% for todo in todo_list %}

<p>{{todo.id }} | {{ todo.title }}</p>

{% if todo.complete == False %}
<span>Not Complete</span>
{% else %}
<span>Completed</span>
{% endif %}

<a href="/update/{{ todo.id }}">Update</a>
<a href="/delete/{{ todo.id }}">Delete</a>

{% endfor %}
</body>

</html>